.event {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 2rem;
}

.title {
  text-align: center;
}

.dateTime {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.control {
  font-weight: 300;
  display: flex;
  align-items: center;
}

.icon {
  padding: 1rem;
  font-size: 1.25rem;
}

.edit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edit button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0 0.75rem;
  font-size: 1rem;
}

.edit button:hover {
  color: blue;
}
