.eventItem {
  width: 300px;
  height: 200px;
  background-color: aliceblue;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.eventItem:hover {
  cursor: pointer;
}

.title {
  color: rgb(14, 14, 155);
}
