.formWrap {
  position: absolute;
  margin: 5% 10% 20% 55%;
  width: 30%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-size: 1.25rem;
  text-align: center;
}

.control {
  color: #000;
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.control input {
  width: 60%;
}

.control span {
  position: absolute;
  margin-left: 52%;
  padding: 0.25rem;
  display: flex;
  align-self: center;
}

.eye {
  align-self: center;
}

.switching {
  font-size: 0.55rem;
  font-weight: 200;
  margin-bottom: 1rem;
  text-align: center;
}

.switching span {
  color: #1b62f1;
}

.switching span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
}
