.formWrap {
  position: absolute;
  margin: 5% 10% 20% 55%;
  width: 30%;
  border-radius: 10px;
  background-color: aliceblue;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-size: 1.25rem;
  text-align: center;
}

.control {
  color: #000;
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.control input {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #c1d1d1;
  font-size: 1rem;
  padding: 2%;
  text-align: center;
  width: 60%;
}

.control input:focus,
.control textarea:focus {
  background-color: rgb(247, 247, 247);
  outline: transparent;
}

.control span {
  position: absolute;
  margin-left: 52%;
  padding: 0.25rem;
  display: flex;
  align-self: center;
}

.eye {
  align-self: center;
}

.switching {
  font-size: 0.55rem;
  font-weight: 200;
  margin-bottom: 1rem;
  text-align: center;
}

.switching span {
  color: #1a3cab;
}

.switching span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
}

.form button {
  width: 60%;
  background: #1a3cab;
  border-radius: 6px;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1rem;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 1rem 0;
}

.form button:hover {
  background: transparent;
  color: #1a3cab;
}

.form button:before,
.form button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1a3cab;
  transition: 400ms ease all;
}
.form button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.form button:hover:before,
.form button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
