.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3% 0;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 2rem;
}

.name {
  text-align: center;
}

.edit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.edit button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0 0.75rem;
  font-size: 1rem;
}

.edit button:hover {
  color: blue;
}

.details {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 5%;
}

.section {
  width: 50%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.imageWrap {
  height: 100%;
  width: 50%;

  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.btns {
  display: flex;
  justify-content: center;
}

.btns button {
  width: 30%;
  background: #1a3cab;
  border-radius: 6px;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 1rem;
}

.btns button:hover {
  background: transparent;
  color: #1a3cab;
}

.btns button:before,
.btns button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1a3cab;
  transition: 400ms ease all;
}
.btns button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btns button:hover:before,
.btns button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btns button:disabled {
  background: rgb(179, 179, 179);
  color: #343a50;
  cursor: unset;
}

.btns button:disabled:before,
.btns button:disabled:after {
  content: unset;
}
