.carousel {
  width: 95%;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  top: 20vh;
  height: 40%;
}

.slides {
  width: 80%;
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.arrowLeft {
  display: flex;
  align-content: center;
  font-size: 2rem;
}

.arrowLeft :hover {
  cursor: pointer;
}

.arrowRight {
  display: flex;
  align-content: center;
  font-size: 2rem;
}

.arrowRight :hover {
  cursor: pointer;
}
