.slider {
  position: relative;
  top: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slides {
  display: flex;
  align-items: center;
}

.arrowLeft {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 2rem;
}

.arrowLeft :hover {
  cursor: pointer;
}

.arrowRight {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 2rem;
}

.arrowRight :hover {
  cursor: pointer;
}
