.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 2rem;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 2rem;
}
