.slider {
  position: relative;
  top: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slides {
  display: flex;
  align-items: center;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 2rem;
}

.leftArrow :hover {
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 2rem;
}

.rightArrow :hover {
  cursor: pointer;
}
