.edit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edit button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0 0.75rem;
  font-size: 1.1rem;
}

.edit button:hover {
  color: blue;
}
