.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: space-between;
  justify-content: center;
}

.section {
  width: 80vw;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  padding-bottom: 0.25rem;
  font-weight: 700;
}

.control input,
.control textarea {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #dce4ff;
  outline-color: #2e52ca;
}

.imageWrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image {
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.check {
  color: blue;
  font-size: 7rem;
  text-align: center;
  padding-top: 1rem;
}
