.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: space-between;
  justify-content: center;
}

.section {
  width: 80vw;
}

.control {
  margin-bottom: 1rem;
}

.control label {
  display: block;
  padding-bottom: 0.25rem;
  font-weight: 700;
}

.control input,
.control textarea {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #dce4ff;
  outline-color: #2e52ca;
}

.imageWrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image {
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
}

.form button {
  width: 25%;
  background: #1a3cab;
  border-radius: 6px;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1rem;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 1rem 0;
}

.form button:hover {
  background: transparent;
  color: #1a3cab;
}

.form button:before,
.form button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1a3cab;
  transition: 400ms ease all;
}
.form button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.form button:hover:before,
.form button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.check {
  padding-top: 2rem;
  font-size: 10rem;
  text-align: center;
  color: #1a3cab;
}
