.header {
  height: 3rem;
  display: flex;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.logo {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  text-decoration: none;
}

.nav li :hover {
  cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: #421daa;
}
