.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  width: 80vw;
}

.title {
  padding: 0 1rem;
}

.control {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.control label {
  display: block;
  padding-bottom: 0.25rem;
  font-weight: 700;
}

.control input,
.control textarea {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #dce4ff;
  outline-color: #2e52ca;
}

.controlImg {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.controlImg input {
  background-color: transparent;
  border: none;
  outline: transparent;
  width: fit-content;
}

.time {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.thumbWrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  justify-self: center;
}

.thumbWrap {
  height: auto;
  width: 20vw;
  padding: 2% 0;
  overflow: hidden;
  border-radius: 6px;
}
