.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listName {
  display: flex;
  width: 70%;
}

.control {
  margin: 1rem;
  width: 50%;
}

.control input {
  padding: 0.5rem;
  width: 100%;
}

.control button {
  margin-left: 1rem;
  width: 100%;
}

.error {
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 900;
  color: rgb(212, 48, 48);
}
