.list {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 2rem;
  margin: 2rem 0;
}

.listName {
  display: flex;
  padding-left: 8%;
}

.control {
  margin: 1rem;
  width: 30%;
}

.control input {
  padding: 0.25rem;
  width: 100%;
}

.control button {
  width: 60%;
  background: #1a3cab;
  border-radius: 6px;
  color: #fff;
  border: none;
  position: relative;
  padding: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.control button:hover {
  background: transparent;
  color: #1a3cab;
}

.control button:before,
.control button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1a3cab;
  transition: 400ms ease all;
}
.control button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.control button:hover:before,
.control button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
